$bg-color--primary: #141D40;
$bg-color--secondary: #2C4575;

$border-color--primary: #90B6FF;

$dialog-bg-color: rgb(44 69 117 / 85%);
$dialog-border-color: rgb(144 182 255 / 85%);

$button-bg-color: #A91735;
$button-text-color: #FFFFFF;

$text-color-primary: #90B6FF;
$text-color-secondary: #E5E8FF;
$text-color-error: #DA2046;

$title-color-primary: #ffffff;
$title-color-secondary: #90B6FF;

$menu-item-color: #90B6FF;
$menu-item-color-active: #ffffff;
