@import '../common';

.hamster-block {
    justify-content: flex-end;
}

.hamster-img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hamster__dialog{
    right: 120px;
    left: unset;
    max-width: 240px;
    width: 50vw;
}