<div class="page-row page-row--vertical-center">
    <div class="relative">
        <div class="wrapper--center">
            <div class="hamster-block">
                <img src="/assets/images/hamster/hamster__action.svg" alt="" class="hamster-img">
                <app-text-dialog class='hamster__dialog' modal-border-radius='11px 11px 0 11px'>
                    {{"TELEPORT.SWAP.DESCRIPTION" | translate}}
                </app-text-dialog>
            </div>
        </div>
        <div class="wrapper--center transaction-dialog">
            <app-modal-dialog *ngIf='teleportState' [modal-title]='getTitle()' (close)='close()'>
    
                <p 
                    *ngIf='teleportState.token.platform === "bsc"'
                    class="text text--center"
                    [innerHTML]='"TELEPORT.APPROVAL.MODAL-DESCRIPTION" | translate'
                    >
                </p>
    
                <div *ngIf='teleportState.token.platform === "ethereum"'>
                    <p class="text text--size-s text--color-secondary speed">{{"TELEPORT.SWAP.SPEED" | translate}}</p>
                    <app-gas-price-selector (gas-change)='gasChanged($event)' [tx-data]='teleportState.swapTx'></app-gas-price-selector>
                </div>
    
                <div style='margin-top: 16px;' class="wrapper--center">
                    <button data-augmented-ui="tr-clip bl-clip" [disabled]='processing' [class.btn--processing]='processing' class="btn btn--size-s"
                        (click)='swap()'>{{"TELEPORT.SWAP.SUBMIT" | translate}}</button>
                </div>
                <p style='margin-top: 16px;' class="text text--size-s text--center" (click)='cancel()'>{{"TELEPORT.SWAP.CANCEL" | translate}}</p>
                <div style='margin-top: 16px;' *ngIf='processing'>
                    <p *ngIf='step === "preparing"' class="text text--center text--size-s text--color-secondary">{{"COMMON.ACTION-STEPS.PREPARING" | translate}}</p>
                    <p *ngIf='step === "confirmation"' class="text text--center text--size-s text--color-secondary">{{"COMMON.ACTION-STEPS.WAIT-CONFIRMATION" | translate}}</p>
                    <p *ngIf='step === "performing"' class="text text--center text--size-s text--color-secondary">{{"COMMON.ACTION-STEPS.PERFORMING" | translate}}</p>
                    <p *ngIf='step === "checking"' class="text text--center text--size-s text--color-secondary">{{"COMMON.ACTION-STEPS.CHECKING" | translate}}</p>
                </div>
                <p *ngIf='error' style='margin-top: 16px;' class="text text--size-s text--color-error text--center">
                    {{error.message | translate: (error.params)}}
                </p>
            </app-modal-dialog>
        </div>
    </div>
</div>
<!-- (
                ((teleportState.stepsCount > 1) ? ("TELEPORT.STEPS" | translate: {current_step: teleportState.currentStepNumber, steps: teleportState.stepsCount}): "")
            )  -->