<header class='header page-row'>
    <img src="/assets/images/logos/logo__scotty-beam.svg" alt="Scotty Beam" class="logo">
    
    <div class="platform-selector__item" *ngIf="platform === 'ethereum'">
        <img src="/assets/images/logos/logo__ethereum.svg" alt="Ethereum" class="platform-selector__item-icon">
    </div>
    <div class="platform-selector__item" *ngIf="platform === 'bsc'">
        <img src="/assets/images/logos/logo__bsc.svg" alt="BSC" class="platform-selector__item-icon">
    </div>
</header>